<main class="workout-content">
  <div class="workout-container" @slideDown>
    <h1 class="title">Recent Workouts</h1>
    <div class="input-group">
      <input type="text" #searchInput placeholder="Search" class="search-workout-input" />
      <button class="btn btn-primary workout-btn" (click)="getWorkouts()">Get workouts</button>
    </div>
    <div class="workout-list-container" #workoutListContainer>
      <app-workout-list [workouts]="workouts" (deleteWorkout)="handleDeleteWorkout($event)" (editWorkout)="handleEditWorkout($event)"></app-workout-list>
      <div class="scroll-indicator" *ngIf="showScrollIndicator">
        <i class="fas fa-arrow-down"></i>
      </div>
    </div>
  </div>
  <button class="fab" (click)="handleCreateWorkout()">
    <i class="fas fa-plus"></i>
  </button>
</main>
