<header class="header">
  <nav class="navbar">
    <a routerLink="/home">Home</a>
    <a routerLink="/workout">Workout</a>
    <a routerLink="/about">About</a>
  </nav>
  <nav class="navbar auth-links">
    <a *ngIf="!authService.isLoggedIn()" [routerLink]="['/auth']" [queryParams]="{ form: 'login' }" class="login-btn">Login</a>
    <a *ngIf="!authService.isLoggedIn()" [routerLink]="['/auth']" [queryParams]="{ form: 'register' }" class="register-btn">Register</a>
    <a *ngIf="authService.isLoggedIn()" (click)="logout()" class="logout-btn">Logout</a>
  </nav>
</header>
