@media (max-width: 992px) {
  .sidebar {
    background-color: rgb(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
  }
}
.signup-button {
  background-image: linear-gradient(to right, #06b4fe, #0051ff);
}
.container-fluid {
  margin: 1rem;
}
.navbar-brand{
  font-size: 2rem;
  margin-left: 2rem;
}