.hero-text {
  font-size: 2.5rem;
  color: #fff;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.hero-text-container {
  padding: 10rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 10;
}

.custom-sign-up-button {
  padding: 6px 18px;
  margin-top: 1rem;
  font-size: 1rem;
  border-radius: 30px;
  border: none;
  color: white;
  background-image: linear-gradient(to right, #06b4fe, #0051ff);
  position: relative;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

@media (max-width: 1200px) {
  .hero-text {
    font-size: 2rem;
  }
  .custom-sign-up-button {
    padding: 8px 16px;
    font-size: 0.9rem;
  }
}

@media (max-width: 768px) {
  .hero-text {
    font-size: 1.5rem;
  }
  .hero-text-container {
    padding: 2rem;
  }
  .custom-sign-up-button {
    padding: 6px 12px;
    font-size: 0.8rem;
  }
}

@media (max-width: 576px) {
  .hero-text {
    font-size: 1.2rem;
  }
  .hero-text-container {
    padding: 1rem;
  }
  .custom-sign-up-button {
    padding: 4px 8px;
    font-size: 0.7rem;
  }
}

// .icons-container {
//     position: absolute;
//     bottom: 0;
//     left: 0;
//     width: 100%;
//     display: flex;
//     justify-content: space-around;
//     align-items: center;
//     padding: 20px 0;
//   }

//   .icon-item {
//     text-align: center;
//   }

//   .icon {
//     font-size: 4rem;
//     margin-bottom: 0.5rem;
//     color: white;
//   }

// .text {
//     font-size: 1.2rem;
//     color: white;
//   }

// .button-overlay {
//   position: absolute;
//   right: -20px;
//   top: -20px;
//   width: 60px;
//   height: 60px;
//   background-color: white;
//   opacity: 0.2;
//   border-radius: 50%;
//   transform: rotate(45deg);
// }
