.modal-content {
  max-width: 700px;
  margin: 0 auto;
  top: 100px;
  background-color: #3a3a3a;
  color: #ffffff;
  border-radius: 10px;
}

.form-control {
  border: 1px solid #555;
  background-color: #3a3a3a;
  color: #ffffff;
  border: none;
  outline: none;
  box-shadow: none;
  border-radius: 0;
  font-size: 20px;
  opacity: 0.6;
  margin-left: -12px;
}
.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #444;
}

.scrollable-exercises-container {
  max-height: 340px;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Hide scrollbar for Chrome, Safari, and Opera */
.scrollable-exercises-container::-webkit-scrollbar {
  display: none;
}

.disabled {
  pointer-events: none;
  color: grey;
  cursor: not-allowed;
  opacity: 0.5;
}

td {
  width: 100px; /* Adjust this value to your liking */
}

.input-field {
  width: 100%;
  margin-left: 4%;
  border: 1px solid #555;
  background-color: #3a3a3a;
  color: #ffffff;
  opacity: 0.9;
  padding: 10px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: textfield;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
  appearance: none; /* Add this */
}

input[type='number'] {
  -moz-appearance: textfield;
  appearance: none; /* Add this */
}

.modal-header button {
  background-color: #555;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
}

.modal-header button:hover {
  background-color: #0056b3;
}

.workout-title {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-size: 30px;
  color: #ffffff;
}

.workout-title::placeholder,
.form-control::placeholder {
  color: #707070;
  opacity: 1;
}

.workout-title:-ms-input-placeholder,
.form-control:-ms-input-placeholder {
  color: #707070;
}

.workout-title::-ms-input-placeholder,
.form-control::-ms-input-placeholder {
  color: #707070;
}

.workout-title .options {
  background-color: #707070;
  border-radius: 5px;
  padding: 5px;
  margin-left: 10px;
}

.workout-details {
  color: #999999;
  margin-bottom: 20px;
}

.has-input {
  color: white;
}

.add-exercises {
  margin-top: 20px;
  background-color: #333;
  color: #ffffff;
}

.add-exercises,
.delete-workout {
  cursor: pointer;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.exercise-table {
  width: 100%;
  margin-bottom: 10px;
}

.exercise-table th,
.exercise-table td {
  text-align: center;
  padding: 10px;
}

.exercise-table tbody tr:nth-child(odd) td {
  background-color: #2b2b2b; /* Darker background for odd rows */
}

.exercise-table tbody tr:nth-child(even) td {
  background-color: #333333; /* Lighter background for even rows */
}

.set-column,
.input-field {
  padding: 5px; /* Optional: Add some padding for better spacing */
}

.add-set {
  text-align: center;
  color: #ffffff;
  cursor: pointer;
  margin-bottom: 20px;
  background-color: #444;
  border-radius: 5px;
  padding: 10px;
}

.add-set:hover {
  background-color: #333;
  text-decoration: underline;
}

.add-exercises {
  background-color: #444;
  color: #ffffff;
}

.add-exercises:hover {
  background-color: #333;
}

.delete-workout {
  background-color: #ff4d4d;
  color: #ffffff;
}

.delete-workout:hover {
  background-color: #8d0101;
}

.no-background i {
  color: #ffffff;
  font-size: 18px;
}
